@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  color: #ffffff;
  /* scroll-behavior: smooth; */
}

body {
  background-color: #000000;
  height: 100vh;
  font-family: "Clash Display", sans-serif;
}

.progress-gradient {
  background: linear-gradient(90.73deg, #f3581e 0.82%, #fbf6a0 111.37%);
}

.gradient-text {
  background: linear-gradient(90.73deg, #f3581e 0.82%, #fbf6a0 111.37%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
